#desyAndLetyHomebanner {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    width: 100%;
    z-index: -1;
}
#desyAndLetyHomebanner .banner-top{
    height: 100vh;
    background-color: var(--primary);
    display: flex;
    align-items: center;
    padding-top: 15rem;
    flex-direction: column;
}
#desyAndLetyHomebanner .banner-top h1 {
    font-size: 3.2rem;
    color: var(--text);
    width: 50%;
    text-align: center;
    margin-bottom: 1rem;
}
#desyAndLetyHomebanner .banner-top small {
    color: var(--text);
}
#desyAndLetyHomebanner .banner-top small a {
    text-decoration: underline;
    color: var(--link);
}
#desyAndLetyHomebanner .banner-top button {
    margin-top: 2rem;
}
#desyAndLetyHomebanner article.figure-article {
    padding-top: 5rem;
    margin-bottom: 4rem;
}
#desyAndLetyHomebanner article.figure-article center > h2 {
    margin-bottom: 4rem;
}
#desyAndLetyHomebanner article.figure-article center figure {
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#desyAndLetyHomebanner article.figure-article center figure div.images-collection {
    display: flex;
}
#desyAndLetyHomebanner article.figure-article center figure div.images-collection div {
    border: 1px solid #eee;
    background-color: var(--text);
    width: 300px;
    height: 300px;
    box-shadow: 0 6px 20px 10px rgba(0, 0, 0, .03);
}
#desyAndLetyHomebanner article.figure-article center figure div.images-collection div img {
    width: 100%;
    height: 100%;
}
#desyAndLetyHomebanner article.figure-article center figure div.images-collection div:not(:first-child) {
    margin-left: -180px;
}
#desyAndLetyHomebanner article.figure-article center figure div.images-collection div:nth-child(2) {
    margin-top: 80px;
}
#desyAndLetyHomebanner article.figure-article center figure div.images-collection div:nth-child(3) {
    margin-top: 160px;
}
#desyAndLetyHomebanner article.figure-article center figure figcaption {
    text-align: start; 
}
#desyAndLetyHomebanner article:nth-child(3) {
    background-color: var(--primary2);
    padding: 2rem 0;
    height: 600px;
}
#desyAndLetyHomebanner article:nth-child(3) center {
    display: grid;
    grid-template-columns: 50% 50%;
}
#desyAndLetyHomebanner article:nth-child(3) center > div {
    text-align: start;
    padding-top: 5rem;
}
#desyAndLetyHomebanner article:nth-child(3) center > div h2 {
    color: var(--text);
}
.small {
    width: 200px;
    height: 200px;
}