@import url('https://fonts.googleapis.com/css?family=Poppins:400,700,900');
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-size: 16px;
    font: message-box;
    text-decoration: none;
    outline: none;
    border: none;
    color: #333;
    font-family: 'Poppins', sans-serif;
    list-style: none;
}
button {
    cursor: pointer;
    padding: 10px 30px;
    border-radius: 50px;
    font-size: .9rem;
}
h2 {
    font-size: 1.6rem;
    font-weight: 500;
    margin-bottom: 1rem; 
}
p {
    line-height: 28px;
}
center {
    width: 80%;
    margin: 0 auto;
}